/* 전체 */
#wrapper{
    width: 100%;
}
/* header */
header {
    height: 80px;
    line-height: 80px;
}
/* 본문 */
section{
    float: right;
    height: 300px;
    width: 65%;
    background-color: rgb(145, 128, 142);
}
/* aside */

aside{
    background-color: rgb(102, 141, 65);
    height: 300px;
    width: 34%;
    float: left;
}
/* footer */
footer{
    clear: both;
    height: 50PX;
    line-height: 50px;
}



























